.outer {
  border: 1px solid hsla(0, 0%, 70%, 100%);
  background-color: hsla(0, 0%, 90%, 100%);
  margin-bottom: 10px;
  padding: 10px;
  overflow-y: hidden;
  position: relative;
}
.inner {
  border: 1px solid hsla(0, 0%, 80%, 100%);
  background-color: hsla(0, 0%, 95%, 100%);
}
