:root {
  --var-background-offset: #fff;
  --var-background: #ccc;
  --var-color: #333;
  --var-link: #19acf2;
}

body {
  background: var(--var-background);
  color: var(--var-color);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

header {
  background: var(--var-background-offset);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  z-index: 0;
}

header p {
  margin-right: 10px;
  color: #777;
  font-family: "Courier New", Courier, monospace;
}

#hero {
  height: auto;
  width: 90vw;
  z-index: 2;
  position: relative;
}

.heavy.test {
  color: red;
}

aside {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: small;
}

aside::before {
  content: "*";
}

nav {
  padding: 5px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: hsla(0, 0%, 10%, 60%);
  width: min-content;
  white-space: nowrap;
  margin-bottom: 10px;
  border-radius: 5px;
}

.homelink {
  height: 40px;
  width: 40px;
  filter: invert(50%) sepia(100%) hue-rotate(160deg) saturate(500%)
    brightness(95%);
}

nav a,
nav span {
  display: inline-block;
  font-size: larger;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bolder;
}

nav a {
  color: var(--var-link);
  font-weight: bolder;
  transition-property: transform;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
}

nav .divider {
  height: 15px;
  width: 20px;
}

a:hover,
a:focus {
  transform: skew(-15deg);
  transition-timing-function: ease-in;
}

a:focus {
  outline-width: 3px;
}

code {
  position: absolute;
  display: block;
  width: min-content;
  white-space: nowrap;
  right: 15px;
  top: 25px;
  padding: 5px;
  background-color: hsla(0, 0%, 100%, 60%);
  border-radius: 5px;
}

h1 {
  font-size: 8rem;
}
